<a href="/todos/new">Create</a>
<ul>
  {{#each todos}}
  <li>
    {{this.name}}
    <a href="./todos/{{this._id}}">detail</a> 
    {{!-- 這邊的 _id 為 MongoDB 內預設好的識別碼 _id --}}
    <a href="/todos/{{this._id}}/edit">edit</a>
  </li>
  {{/each}}
</ul>