<a href="/todos/new">Create</a>
<ul>
  {{#each todos}}
  <li>
    <input type="checkbox" name="isDone" {{#if this.isDone}}checked{{/if}} disabled>
    {{this.name}}
    {{!-- "/":絕對路徑。 "./":相對路徑 。這邊兩種都可用不影響--}}
    <a href="./todos/{{this._id}}">detail</a> 
    {{!-- 這邊的 _id 為 MongoDB 內預設好的識別碼 _id --}}
    <a href="/todos/{{this._id}}/edit">edit</a>
    <form action="/todos/{{this._id}}/delete" method="POST" style="display:inline">
      <button type="submit">delete</button>
    </form>
    {{!-- <form>預設是block --}}
  </li>
  {{/each}}
</ul>